.cabinets {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    /* 4 колонки в строке */
    gap: 20px;
    /* Отступы между блоками */
    padding: 30px 0;
    /* Отступ сверху и снизу */
}

.blocs {
    background-color: white;
    width: 100%;
    /* Ширина блока будет автоматически подстраиваться под размер колонки */
    height: 100px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    /* Элементы внутри блока располагаются в столбик */
    align-items: center;
    /* Выравнивание по центру по горизонтали */
    justify-content: center;
    /* Выравнивание по центру по вертикали */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    /* Тень для красоты */
}

.blocs>p {
    margin: 3px 0px;
}

.body-container {
    max-width: 1300px;
    margin: 0 auto;
}

@media (max-width: 1350px) {
    .body-container {
        margin: 0 20px;
    }
}

.title-s {
    margin-bottom: 0;
}

.header {
    display: flex;
    justify-content: space-between;
    background-color: #6F2CF5;
    border-radius: 75px;
    padding: 5px 12px 5px 21px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    align-items: center;
    position: sticky;
    top: 22px;
    z-index: 999;
    max-width: 1300px;
    margin: 0 auto;
}


@media (max-width: 1340px) {
    .cabinets {
        grid-template-columns: repeat(5, 1fr);
    }
}

@media (max-width: 1020px) {
    .cabinets {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media (max-width: 810px) {
    .cabinets {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 590px) {
    .cabinets {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 420px) {
    .cabinets {
        grid-template-columns: repeat(1, 1fr);
    }
}