body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.body-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.body-container {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.title-s {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
}

.cabinets-table {
    width: 100%;
    border-collapse: collapse;
}

.cabinets-table th,
.cabinets-table td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
}

.cabinets-table th {
    background-color: #6F2CF5;
    color: white;
}

.cabinets-table tr:nth-child(even) {
    background-color: #f2f2f2;
}


@media (max-width: 1350px) {}

.title-s {
    margin-bottom: 0;
}

.filter {
    height: 30px;
}

.header {
    display: flex;
    justify-content: space-between;
    background-color: #6F2CF5;
    border-radius: 75px;
    padding: 5px 12px 5px 21px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    align-items: center;
    position: sticky;
    top: 22px;
    z-index: 999;
    max-width: 1300px;
    margin: 0 auto;
}

.filter {
    position: relative;
    display: inline-block;
}

.filter label,
.filter input {
    display: block;
    margin: 5px 0;
    display: flex;
    gap: 10px;
    align-items: center;
}

.filter-floor {}


.filter input[type="text"] {
    width: 150px;
    padding: 5px;
}

.filter-options {
    display: none;
    position: absolute;
    right: 1px;
    top: 0px;
    background: white;
    border: 1px solid #ccc;
    padding: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.filter:hover .filter-options {
    display: block;
}



@media (max-width: 1340px) {}

@media (max-width: 1020px) {}

@media (max-width: 810px) {}

@media (max-width: 590px) {}

@media (max-width: 420px) {}
