.loader {
    display: none;
    border: 16px solid #f3f3f3;
    border-top: 16px solid #6f2cf5;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
    margin: auto;
    position: absolute;
    top: 300px;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

body {
    background-color: #dce2f2;
}




.body-wrapper {
    position: absolute;
    top: 80px;
    left: 50%;
    transform: translateX(-50%);
}

.body-container {
    display: flex;
    justify-content: center
}

.schoolForm {
    align-items: center;
}

.sity {
    font-weight: bold;
    font-size: 20px;
}

.sitys {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.schools {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.schoolNumber {
    font-weight: bold;
    font-size: 20px;
}

.btn {
    height: 50px;
    width: 200px;
    font-weight: bold;
    font-size: 20px;
    border-radius: 10px;
    background-color: #a687f4;
    color: rgb(50, 50, 50);
    transition: all 0.3s;
}

.btn:hover {
    background-color: #6f2cf5;
    color: rgb(255, 255, 255);

}

.sity-select {
    height: 40px;
    width: 200px;
    border-radius: 10px;
    font-size: 17px;
}

.schoolNumber-input {
    height: 40px;
    width: 200px;
    border-radius: 10px;
    font-size: 17px;
}



.header {
    display: flex;
    justify-content: space-between;
    background-color: #6F2CF5;
    border-radius: 75px;
    padding: 5px 12px 5px 21px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    align-items: center;
    z-index: 999;
    max-width: 1300px;
    margin: 10px auto;
}

.header__content {
    display: flex;
    column-gap: 73px;
    align-items: center;
}

.nav__list {
    display: flex;
    column-gap: 41px;
}

.nav__item a,
.header__sign-up {
    font-weight: 400;
    font-size: 13px;
    line-height: 104%;
    color: #ffffff;
}

.header__btn-block {
    display: flex;
    align-items: center;
    column-gap: 15px;
}

.header__log-in {
    font-weight: 500;
    font-size: 15px;
    line-height: 104%;
    color: #6F2CF5;
    background-color: #FFFFFF;
    padding: 8px 15px 7px 15px;
    border-radius: 34px;
    box-shadow: inset 0px 0px 4px 0px #000000;
}

.header__log-in::before {
    content: "";
    width: 9px;
    height: 9px;
    display: inline-block;
    margin-right: 2px;
}

.arrow {
    position: relative;
    left: -5px;
    top: 1px;
    height: 13px;
    width: 13px;
}